---
Language: Cpp
BasedOnStyle: Google
Standard: Latest

IndentWidth: 4
ColumnLimit: 120

PointerAlignment: Left
DerivePointerAlignment: false

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

SortIncludes: CaseInsensitive
SeparateDefinitionBlocks: Always

AlignAfterOpenBracket: BlockIndent
LambdaBodyIndentation: OuterScope
AccessModifierOffset: -4
InsertBraces: true
RemoveSemicolon: true

InsertNewlineAtEOF: true
LineEnding: LF
...
